html[lang='he'] {
	direction: rtl;
}

html {
	background: black url(../img/bg/main-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-size: 0.85em;

	@media #{$small-width} {
		font-size: 0.7em;
	}

	// @media screen and (max-width: 1366px), screen and (max-height: 667px) {
	// 	font-size: 0.65em;
	// }
}

@media #{$small-width}, #{$small-height} {
	#main {
		p, ul {
			font-size: 1.5rem;
		}

		h2 {
			font-size: 2rem;
		}
	}

	.next a {
		&:before {
			padding: 0 1px 2px 0 !important;
		}
	}

	.site-header nav > ul > li a {
		padding: 26px 24px !important;
	}
}

body {
	margin: 0 auto;
	font-family: $font-family;
	font-size: $base-font-size;
}

a {
	text-decoration: none;
	color: black;

	&:active, &:visited {
		color: black;
	}
}

i {
	display: inline-block;
	font-style: normal;
}

%h-tags {
	font-family: $main-font;
	font-weight: normal;
}

@mixin h-tag-style {
	@for $i from 1 through 6 {
		h#{$i} {
			@extend %h-tags;
		}
	}
}

@include h-tag-style;

h2 {
	font-size: 2.2rem;
	font-weight: bold;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
}

h4 {
	font-size: 1.75rem;
	font-weight: bold;
	font-family: $main-font;
}

p {
	font-size: 1.4rem;
	text-align:justify;
	line-height: 2.5rem;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	font-size: 1.3rem;
}

table {
	width: 100%;
}

.inner {
	@extend .clearfix;

	margin: 0 auto;
	// min-width: $site-width;
	width: 95%;
	height: 100%;
	padding: 1rem;
	position: relative;
}

button.primary {
	padding: 1rem 3rem;
	// background: #E7E7E7;
	// border: none;
	// border-bottom: 3px solid gray;
}

.site-header {
	height: $header-height;
	background: rgba(0,0,0,0.8);
	font-family: $main-font;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;

	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;

	& * {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	a {
		color: white !important;

		&:hover {
			text-decoration: none;
		}
	}

	h1 {
		@extend .clearfix;
		float: left;
		font-size: 2rem;
	}

	nav {
		width: 100%;
		font-size: 1.5rem;
		text-align: center;

		& > ul > li {
			display: inline-block;
			margin-right: -4px;
			position: relative;

			a {
				padding: 32px 24px;
				line-height: $header-height;

				&:hover {
					background: $light-green;
					@include transition(0.5s all ease);
				}
			}

			&:hover {
				> a {
					background: $light-green;
					@include transition(0.5s all ease);
				}

				.sub-list {
					display: block;
				}
			}

			.sub-list {
				position: absolute;
				width: 36rem;
				top: 100%;
				left: -13rem;
				display: none;

				li {
					background: rgba(0,0,0,0.8);
					a {
						padding: 5px 40px;
						line-height: 50px;
						display: block;
					}
				}
			}
		}
	}

	.inner {
		padding: 0;
	}
}

.site-header {
	&.shrink {
		height: $header-height/2;
		h1 {
			font-size: 1rem;
		}

		nav > ul > li a {
			line-height: $header-height / 2;
			padding: 0.8rem 24px;
		}
	}
}

footer {
	background: white;
	text-align: center;
	font-size: 2rem;
}

section#main {
	padding-top: $header-height + 1rem;

	.summary {
		@include span-columns(6);

		@extend .clearfix;
		background: rgba(255,255,255,0.70);
		padding: 0.5rem;

		ul {
			list-style-type: disc;
			margin-left: 2rem;
		}
	}

	.media {
		@include span-columns(5);
		@include omega();

		@extend .clearfix;
		// @include box-shadow(0px 0px 23px 4px $box-shadow-color);

		height: 400px;
		height: 31.1rem;
		overflow: hidden;

		ul {
			@extend .clearfix;
		}
	}

	.solutions {
		@include span-columns(12);

		@extend .clearfix;

		text-align: center;
		margin-top: 1rem;

		li {
			@include span-columns(3);
			width: 30%;

			a {
				margin-right: 5%;
				display: inline-block;
				height: 17rem;
				margin-right: 5%;
				display: inline-block;
				background: lightgray;
				width: 100%;
			}
		}
	}
}

.next {
	text-align: center;
	width: 100%;
	font-size: 4rem;
	margin: 1rem 0;
	margin-left: -4rem;
	float: left;
	position: fixed;
	bottom: 1rem;
	z-index: 10;

	a {
		@extend .fa;
		@extend .fa-chevron-circle-down;

		display: inline-block;
		height: 65px;
		width: 55px;
		color: white;

		&::before {
			@include border-radius(50%);
			background: black;
			height: 3.81rem;
			width: 3.81rem;
			display: block;
		}
	}
}

.next {
	position: static;
	z-index: auto;
	margin-left: 0;
	position: absolute;
	bottom: 0;
	margin-bottom: 8rem;

	a {
		@extend .fa;
		@extend .fa-chevron-circle-down;

		display: inline-block;
		height: 65px;
		width: 55px;
		color: white;

		&::before {
			@include border-radius(50%);
			background: black;
			height: 3.81rem;
			width: 3.81rem;
			display: block;
		}
	}
}

section:not(#main) {
	border-bottom: 2px solid #E7E7E7;

	.bg {
		@extend .clearfix;

		background: rgba(255, 255, 255, 0.0);
		height: 100%;
	}
}

.experience {
	.inner {
		margin-top: 40px;
		margin-bottom: 80px;
		width: 85%;

		> ul > li {
			&:not(:last-child) {
				margin-bottom: 200px;
			}
		}
	}

	h3 {
		margin-bottom: 40px;
		font-size: 3rem;
	}

	h4 {
		font-weight: normal;
	}

	p {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}

	cite {
		font-style: italic;
	}

	img {
		width: 80%;
		margin: 0 10%;
	}

	ol li {
		margin-bottom: 10px;
	}
}

.about, .contact, .experience {
	background: black url(../img/bg/about-bg.png) repeat center center;

	color: #7e7e7e;

	h3, h4, a, p strong {
		color: #e7e7e7;
	}

	a {
		text-decoration: underline;
	}
}

.about {
	.inner {
		width: 85%;
	}
}

.contact {
	.inner {
		padding-top: $header-height;
	}
	.content {
		margin: 0 auto;
		width: 50%;

		h3 {
			margin-bottom: 40px;
		}
	}
}