html[lang='he'] {
	direction: rtl;
}

html {
	background: black url(../img/dam3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	// @include outer-container;
	margin: 0 auto;
	font-family: $font-family;
	font-size: $base-font-size;
	// background: rgba(255,255,255,0.2);
}

a {
	text-decoration: none;
	color: black;

	&:active, &:visited {
		color: black;
	}
}

i {
	display: inline-block;
	font-style: normal;
}

%h-tags {
	font-family: $main-font;
	font-weight: normal;
}

@mixin h-tag-style {
	@for $i from 1 through 6 {
		h#{$i} {
			@extend %h-tags;
		}
	}
}

@include h-tag-style;

h2 {
	font-size: 1.55rem;
	font-weight: bold;
}

h3 {
	font-size: 1.65em;
}

h4 {
	font-size: 1.25em;
	font-family: $main-font;
}

p {
	font-size: 1.2rem;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

table {
	width: 100%;
}

.inner {
	margin: 0 auto;
	// min-width: $site-width;
	width: 95%;
}

.site-header {
	height: 100px;
	background: rgba(0,0,0,0.8);
	font-family: $main-font;

	nav {
		width: 100%;
		font-size: 1.5rem;
		text-align: center;
		// background: $green;

		& > ul > li {
			display: inline-block;
			margin-right: -4px;
			
			a {
				color: white;
				height: 50px;
				padding: 36px 24px;
				line-height: 100px;

				&:hover {
					background: $light-green;
					@include transition(0.5s all ease)
				}
			}
		}
	}
}

section.main {
	.about {
		margin-top: 1rem;

		.summary {
			@include span-columns(7);
			background: rgba(255,255,255,0.5);
			padding: 0.5rem;

			ul {
				list-style-type: disc;
				margin-left: 2rem;
			}
		}

		.media {
			@include span-columns(5);
			@include omega();
			// @include box-shadow(0px 0px 23px 4px $box-shadow-color);

			height: 400px;
			overflow: hidden;
		}
	}
}


// 	select, input {
// 		width: 280px;
// 	}
// }
