html[lang='he'] {
	direction: rtl;
}

html {
	background: black url(../img/dam3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	// @include outer-container;
	margin: 0 auto;
	font-family: $font-family;
	font-size: $base-font-size;
	// background: rgba(255,255,255,0.2);
}

a {
	text-decoration: none;
	color: black;

	&:active, &:visited {
		color: black;
	}
}

i {
	display: inline-block;
	font-style: normal;
}

%h-tags {
	font-family: $main-font;
	font-weight: normal;
}

@mixin h-tag-style {
	@for $i from 1 through 6 {
		h#{$i} {
			@extend %h-tags;
		}
	}
}

@include h-tag-style;

h2 {
	font-size: 1.55rem;
	font-weight: bold;
}

h3 {
	font-size: 1.65em;
}

h4 {
	font-size: 1.25em;
	font-family: $main-font;
}

p {
	font-size: 1.2rem;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

table {
	width: 100%;
}

.inner {
	margin: 0 auto;
	// min-width: $site-width;
	width: 95%;
}

.site-header {
	height: $header-height;
	background: rgba(0,0,0,0.8);
	font-family: $main-font;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;

	& * {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	a {
		color: white !important;
	}

	h1 {
		@extend .clearfix;
		float: left;
		font-size: 2rem;
	}

	nav {
		width: 100%;
		font-size: 1.5rem;
		text-align: center;
		// background: $green;

		& > ul > li {
			display: inline-block;
			margin-right: -4px;
			
			a {
				height: 50px;
				padding: 36px 24px;
				line-height: $header-height;

				&:hover {
					background: $light-green;
					@include transition(0.5s all ease)
				}
			}
		}
	}
}

.site-header {
	&.shrink {
		height: $header-height/2;
		h1 {
			font-size: 1rem;
		}

		nav > ul > li a {
			line-height: $header-height/2;
		}
	}
}

section.main {
	margin-top: $header-height + 1rem;
	.about {
		margin-top: 1rem;

		.summary {
			@include span-columns(7);
			background: rgba(255,255,255,0.85);
			padding: 0.5rem;

			ul {
				list-style-type: disc;
				margin-left: 2rem;
			}
		}

		.media {
			@include span-columns(5);
			@include omega();
			// @include box-shadow(0px 0px 23px 4px $box-shadow-color);

			height: 400px;
			overflow: hidden;
		}
	}
}

.next {
	text-align: center;
	width: 100%;
	font-size: 4rem;
	color: white !important;
	margin: 1rem 0;

	@extend .fa;
	@extend .fa-chevron-circle-down;
}

.solution-types {
	background: white;
	min-height: 650px;
}

// 	select, input {
// 		width: 280px;
// 	}
// }
