.solution {
	.solution-images {
		@include span-columns(6);
		height: 100%;
		padding: 9rem 4rem 1rem;
		padding-top: $header-height;

		ul > li {
			text-align: center;
			img {
				width: 100%;
				position: relative;
			}
		}
	}

	.solution-content {
		@include span-columns(6);
		margin-right: 0;
		margin-top: $header-height;
		padding: 0 1rem 1rem;
		padding: 2rem 3rem;
		line-height: 2.5rem;
		background: rgba(255,255,255,0.90);
	}
}


// solution #1
#groundwater-pollution-protecting {
	background: white url(../img/bg/pollution-bg.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.solution-images {
		img {
			width: 60%;
		}
	}
}


// solution #2
#earthen-dam {
	background: white url(../img/bg/main-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


// solution #3
#optimization-of-remediation-strategies {
	background: white url(../img/bg/remediation-strategies-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.solution-images {
		img {
			width: 80%;
		}
	}
}


// solution #4
#heap-leach-mining {
	background: white url(../img/bg/mining-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}