!!! 5

<!--[if lt IE 7]>      <html class="no-ko no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-ko no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-ko no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-ko no-js"> <!--<![endif]-->

%head

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	/ <link rel="stylesheet" href="http://www.fontface.co.il/fonts/1478.css.aspx" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Raleway:500,700' rel='stylesheet' type='text/css'>
	/ <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	%link{:rel => "stylesheet", :href => "css/main.css"}

	%title
		sensoils LTD
%body
	%header.site-header
		.inner
			%h1
				%a{:href => "#", :title => "sensoil"} Sensoil
			%nav
				%ul
					%li
						%a.button{:href => "#"} Home
					%li
						%a.button{:href => "#"} Solutions
					%li
						%a.button{:href => "#"} Experience
					%li
						%a.button{:href => "#"} About us
					%li
						%a.button{:href => "#"} Contact us
	%section.about#about
		.inner
			.summary
				%h2
					Real time detection of water flow and contaminants transport in the subsurface
				%p
					Sensoil's Vadose zone Monitoring System (VMSTM) are specially designed for a wide range of environmental and industrial applications including:
				%ul
					%li Protection of <strong class="bold">groundwater</strong> resources from pollution hazard
					%li Optimization of subsurface <strong class="bold">remediation</strong>
					%li Management of <strong class="bold">heap-leach</strong> mining
					%li Early warning on <strong class="bold">earthen dams</strong> stability
					%li Control of <strong class="bold">agricultural inputs</strong> down-leaching of 
					%li <strong class="bold">Land-fill</strong> waste management
				%p
					<strong class="bold">Sensoil</strong> advanced vadose-zone monitoring system is currently the only technology available for real time detection of water flow and contaminants transport in deep unsaturated sediment.
			.media.slider
				%ul
					%li
						%img{:src => "http://lorempixel.com/520/400/city", :alt => "random image"}
					%li
						%img{:src => "http://lorempixel.com/520/400/city", :alt => "random image"}
					%li
						%img{:src => "http://lorempixel.com/520/400/city", :alt => "random image"}
					%li
						%img{:src => "http://lorempixel.com/520/400/city", :alt => "random image"}
					%li
						%img{:src => "http://lorempixel.com/520/400/city", :alt => "random image"}
			.solutions
				%ul 
					%li סכרים
					%li מכרות
					%li זיהום ושיקום קרקע
			.next
				%a{:href => "#solution-types"}

	%section.solution-types#solution-types
		.inner
			%ul
				%li
					%img{:src => "#", :alt => ""}
				%li
					%img{:src => "#", :alt => ""}
				%li
					%img{:src => "#", :alt => ""}
	%footer
		© sensoils inc.
%script(type="text/javascript" src="js/vendor/jquery-1.10.2.min.js")
%script(type="text/javascript" src="js/main.js")

