!!! 5

<!--[if lt IE 7]>      <html class="no-ko no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-ko no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-ko no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-ko no-js"> <!--<![endif]-->

%head

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	/ <link rel="stylesheet" href="http://www.fontface.co.il/fonts/1478.css.aspx" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Raleway:500,700' rel='stylesheet' type='text/css'>
	/ <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	%link{:rel => "stylesheet", :href => "css/main.css"}
	%link{:rel => "stylesheet", :href => "css/technology.css"}

	%title
		sensoils LTD - Technology
%body.technology
	%header.site-header
		.inner
			%h1
				%a{:href => "index.html#main", :title => "sensoil"} Sensoil
				%img{:src => "img/logo.png", :alt => "Sensoil"}
			%nav
				%ul
					%li
						%a.button.external{:href => "index.html#main"} Home
					%li
						%a.button.external{:href => "index.html#groundwater-pollution-protecting"} Solutions
						%ul.sub-list
							%li
								%a.button.external{:href => "index.html#groundwater-pollution-protecting"} Groundwater protecting from pollution hazard
							%li
								%a.button.external{:href => "index.html#earthen-dam"} Earthen dam stability
							%li
								%a.button.external{:href => "index.html#optimization-of-remediation-strategies"} Optimization of Remediation Strategies
							%li
								%a.button.external{:href => "index.html#heap-leach-mining"} Heap-leach mining
					%li
						%a.button.external{:href => "references.html"} References
					%li
						%a.button{:href => "#"} Technology
						%ul.sub-list
							%li
								%a.button{:href => "#groundwater-pollution-protecting"} Groundwater protecting from pollution hazard
							%li
								%a.button{:href => "#earthen-dam"} Earthen dam stability
							%li
								%a.button{:href => "#optimization-of-remediation-strategies"} Optimization of Remediation Strategies
							%li
								%a.button{:href => "#heap-leach-mining"} Heap-leach mining
					%li
						%a.button.external{:href => "index.html#about"} About us
					%li
						%a.button.external{:href => "index.html#contact"} Contact us


	%section.solution#groundwater-pollution-protecting
		.bg
			.inner
				.solution-content
					%h3 Groundwater protecting from pollution hazard
					.brief
						%p 
							%strong Minimization subsurface pollution 
							depends on reliable and effective monitoring programs. 
							Today, most groundwater monitoring programs are based on observation wells. Consequently, identification of 
							pollutants in groundwater is clear evidence that contaminants already crossed the entire vadose-zone and 
							accumulated in the aquifer. Unfortunately, only little can be done to fully remediate contaminated aquifers. 
							Therefore effective monitoring program that aims at protecting groundwater from pollution must include vadose-zone 
							monitoring technologies. 
							%strong Sensoil 
							monitoring technology provide 
							%strong "early warning" 
							on contamination processes 
							in the vadose zone long before aquifer contamination turns evident.

				.solution-images
					%ul 
						%li 
							%img{:src => "img/pollution.png", :alt => "Groundwater protecting from pollution hazard"}
				.next
					%a{:href => "#earthen-dam"}

	%section.solution#earthen-dam
		.bg
			.inner
				.solution-content
					%h3 Earthen dam stability
					.brief
						%p 
							Water infiltration through earthen dams may weaken 
							its stability and potentially lead to dam breach. Today most monitoring programs 
							in earthen dams are bases on measurement of the phreatic level in piezometers. 
							Nevertheless detection of free water in well indicates undesired saturation of the dam sediment. 
							Application of 
							%strong Sensoil 
							monitoring technology in earthen dams provides 
							%strong Real time 
							continuous information on the dam sediment moisture. 
							Detailed analysis moisture data obtained by the 
							%strong VMS 
							across the dam is used to provide 
							%strong early warning 
							on potential weakening of the dam stability.

				.solution-images
					%ul 
						%li 
							%img{:src => "img/dam-stability.png", :alt => "Earthen dam stability"}
				.next
					%a{:href => "#optimization-of-remediation-strategies"}

	%section.solution#optimization-of-remediation-strategies
		.bg
			.inner
				.solution-content
					%h3 Optimization of Remediation Strategies
					.brief
						%strong In-situ bio-remediation 
						of contaminated vadose 
						zone is dependent on the ability to implement hydraulic 
						and chemical conditions that promote development of specific degrading 
						bacteria in deep sections of the subsurface. Implementation of the 
						%strong VMS 
						in sites that undergoes active remediation provides real time information on 
						the actual chemical and hydrological conditions in the vadose zone as the 
						remediation process progresses. The VMS data allows real time assessment of the 
						remediation strategies through direct feedback from the subsurface. 
						%strong Sensoil 
						monitoring technology provides unique tools of proper 
						%strong management 
						of remediated sites.

				.solution-images
					%ul 
						%li 
							%img{:src => "img/optimization.png", :alt => "Optimization of Remediation Strategies"}
				.next
					%a{:href => "#heap-leach-mining"}

	%section.solution#heap-leach-mining
		.bg
			.inner
				.solution-content
					%h3 Heap-leach mining
					.brief
						%p 
							%strong Heap leaching mining typically involve leaching of 
							crushed ore with diluted acid solution, using irrigation system 
							such as sprinklers or drippers. Upon percolation of the leaching solvent in the ore 
							heap metal oxides dissolve and drain down to the bottom of the heap. As a result the 
							drained solution is enriched with the desired metal which is than processes from the 
							metal bearing solution. Water percolation through the ore heap take place in 
							unsaturated condition and derived by gravity and capillary forces. 
							Implementation of 
							%strong Sensoil 
							monitoring technology in active heap leach pad provides the pad managers with 
							real time information the leaching efficiency. Data collected by the 
							%strong VMS 
							allows direct measurements of the water flow velocities and measure the chemical evolution 
							of the percolating solvent in the unsaturated ore. As result the solvent application cycles 
							may be managed according to the actual chemical evolution of the percolating water in the heap 
							in order to increase mineral extraction efficiency.

				.solution-images
					%ul 
						%li 
							%img{:src => "img/heap.png", :alt => "Heap-leach mining"}

	/ %footer
	/ 	© sensoils inc.
%script(type="text/javascript" src="js/vendor/jquery-1.10.2.min.js")
%script(type="text/javascript" src="js/vendor/jquery.singlePageNav.min.js")
%script(type="text/javascript" src="js/main.js")

